html {
  min-height: 100%;
  background-color: khaki;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cancel, .add{
  margin-left: 15px;
  margin-top: 10px;
}

.edit{
  margin: 10px;
}

.modal{
  display: flex;
  z-index: 40;
}


.chapter{
  width: min-content !important;
  display: inline-block;
}


.navbar{
  background-color: #aa00ff !important;
}

.addBtn{
  color: orange;
}


.entry{
  border: 10px black !important;
}

.chapter{
  width: min-content;
}

.fav{
  background-color: pink !important;

}

.del {
  border-color: grey;
}


@media screen and (min-width: 1024px){
  #navbarMenu{
    background-color: inherit !important;
  }

}